h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.953em;
}
h3 {
	font-size: 1.563em; 
}
h4 {
	font-size: 1.25em;
}
p {
	font-size: .75em;
	line-height: .6em;
	color: #bdbdbd;
}

.email-reading-title {
	margin-bottom: 2em;
}

.email-reading-content {
	margin-top: 4em;
}
.email-reading-content p{
	font-size: 1.1em;
	line-height: 1.4em;
	color: #232323;
	font-family: serif;
}

.email-name {
	font-weight: bold;
}

.email-subject {
	font-style: italic;
}

.time-stamp {
	float:right;
	font-size: .7em;
}

.span-right {
	float: right;
	vertical-align: text-bottom;
}