h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.953em;
}
h3 {
	font-size: 1.563em; 
}
h4 {
	font-size: 1.25em;
}
p {
	font-size: .8em;
	line-height: .6em;
	color: #bdbdbd;
}

.email-reading-content p{
	font-size: 1.1em;
	line-height: 1.1em;
	color: #232323;
	font-family: serif;
}

.email-name {
	font-weight: bold;
}

.email-subject {
	font-style: italic;
}

.time-stamp {
	float:right;
	font-size: .7em;
}