.nav-container div a {
	text-decoration: none;

}

.search-bar {
	width: 100%;
	height: 2em;
	border-radius: 0.3em;
	padding: 5px;
	color: #cdcdcd;


}

.btn-delete{
	color:tomato;
}

.btn-new-email{
	color: blue;
}

