//General Layouts
body {
@include outer-container;

}
//Navigation main container
.nav-container {
@include span-columns(12);
height: 4em;
width: 100%;
background-color: whitesmoke;
display: block;
border-bottom: 1px solid #cdcdcd;
}


.nav-left {
float: left;
}

.nav-middle {
margin-left: 27em;
}

.nav-right {
float: right;
}


//List of email container
.email-list {
@include span-columns(3.5);
}

//Border box for search bar in email container
.search-border {
	border:1px solid whitesmoke;
	padding: 1em 0.6em;
}

// Border box for emails in email container
.email-border {
	border: 1px solid  whitesmoke;
	padding: 0.6em 0.8em;
}

//Container for reading emails
.email-content {
@include shift(1.2);
@include span-columns(7);
@include reset-display;
margin-top: 4em;
}


