//General Layouts
body {
@include outer-container;
}
//Navigation main container
.nav-container {
	@include span-columns(12);
	height: 5em;
	width: 100%;
	// background-color: #fdfdfd;
	// border-bottom: 1px solid #cdcdcd;
}

//Individual navigation containers
.nav-left {
	@include span-columns(4);

}

.nav-middle {
	@include span-columns(5);
}

.nav-right {
	@include span-columns(3);

}
//Individual navigation adjustments
.nav-left, .nav-middle, .nav-right {
	margin-top: 2.5em;
	display:block;
}

.nav-left {
	padding: 0 1em;
	& .last-btn-right {
		padding: 5.2em;
	}
}

.nav-middle {
	text-align: center;
	& a{
		padding: 5px;
	}
}

.nav-right {
	text-align: right;
	padding-right: 1.6em;
	& a {
		padding: 5px;
	}
}

//List of email container
.email-list {
	@include span-columns(3.5);
	height: 42em;
	overflow: auto;
	overflow-x: hidden;

}

//Style scroll bar
//hack @ http://css-tricks.com/custom-scrollbars-in-webkit/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); 

}

//Border box for search bar in email container
.search-border {
	padding: 1em 0.6em;
	border-bottom: 1px solid  whitesmoke;

}


// Border box for emails in email container
.email-border {
	border-bottom: 1px solid  whitesmoke;
	padding: 0.6em 0.8em;
}

//Container for reading emails
.email-content {
	@include shift(1.2);
	@include span-columns(7);
	@include reset-display;
	margin-top: 4em;
}


//Align reading email details
.align-details{
	display: inline;

}

.span-right {
	margin-left: 20em;
}

//Modal
.modalDialog {
	position: fixed;
	font-family: serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 650px;
	height:600px;
	position: relative;
	margin: 10% 40%;
	padding: 5px 20px 13px 20px;
	border-radius: 0.2em;
	background-color: whitesmoke;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

